body {
    background: #000;
    background-size: cover;
    background-position: 50%;
    background-image: url("../media/bg14.jpg");
    height: 100vh;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    font-family: roboto, sans-serif;
    font-size: 9pt;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: opacity .8s ease;
    overflow: hidden;
}

img {
    max-height: 55px
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a,
a:link,
a:visited {
    color: #fff;
    text-decoration: none
}

a:hover,
a:active {
    color: #7291a1
}

a:active,
a:focus {
    outline: 0;
    outline-style: none
}

textarea {
    font-family: roboto, sans-serif
}

hr {
    margin: 10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}

button::-moz-focus-inner {
    border: 0
}

.background {
    position: fixed;
    width: 100vw;
    height: 145vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.button-container {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.button {
    width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50px;
    background: #1f2326;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.button label {
    color: #fff;
    border-color: #fff
}

.button svg {
    fill: #fff
}

.button.accent-black label {
    color: #181d22;
    border-color: #181d22
}

.button.accent-black svg {
    fill: #181d22
}

.button.accent-blue label {
    color: #009fff;
    border-color: #009fff
}

.button.accent-blue svg {
    fill: #009fff
}

.button.accent-green label {
    color: #10ffa3;
    border-color: #10ffa3
}

.button.accent-green svg {
    fill: #10ffa3
}

.button.accent-cyan label {
    color: #0ad6ff;
    border-color: #0ad6ff
}

.button.accent-cyan svg {
    fill: #0ad6ff
}

.button.accent-pink label {
    color: #ff69b4;
    border-color: #ff69b4
}

.button.accent-pink svg {
    fill: #ff69b4
}

.button.accent-purple label {
    color: #c5f;
    border-color: #c5f
}

.button.accent-purple svg {
    fill: #c5f
}

.button.accent-red label {
    color: #cd4046;
    border-color: #cd4046
}

.button.accent-red svg {
    fill: #cd4046
}

.button.accent-orange label {
    color: #cf5300;
    border-color: #cf5300
}

.button.accent-orange svg {
    fill: #cf5300
}

.button.accent-yellow label {
    color: #ffd200;
    border-color: #ffd200
}

.button.accent-yellow svg {
    fill: #ffd200
}

.button.accent-palegoldenrod label {
    color: #EEE8AA;
    border-color: #EEE8AA
}

.button.accent-palegoldenrod svg {
    fill: #EEE8AA
}
.button > .button-content {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 13px
}

.button-container.disable .button > .button-content {
    opacity: .2!important
}

.button-container.expanding-down:not(.disable):hover {
    padding-bottom: 10px;
}

.button-container.expanding-down .button {
    transition: .05s cubic-bezier(.4, 0, .2, 1)
}

.button-container.expanding-down:not(.disable):hover .button {
    width: 120px;
    max-height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 2px;
    margin: 60px 0 0px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .18), 0 8px 16px 0 rgba(0, 0, 0, .36)
}

.button-container.expanding-down .button > .button-content {
    transition: .05s cubic-bezier(.4, 0, .2, 1) .05s
}

.button-container.expanding-down:not(.disable):hover .button > .button-content {
    opacity: 0;
    visibility: hidden;
    transition: .05s cubic-bezier(.4, 0, .2, 1)
}

.button-container.expanding-down .button > .button-expanded-content {
    opacity: 0;
    visibility: hidden
}

.button-container.expanding-down:not(.disable):hover .button > .button-expanded-content {
    opacity: 1;
    visibility: visible;
    transition: .05s cubic-bezier(.4, 0, .2, 1) .05s
}

.container {
    width: 500px;
    position: relative;
    border-radius: 2px
}

#mainContainer {
    transition: opacity .8s ease .1s;
    opacity: 0
}

#searchContainer {
    background-color: #1f2326;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.input-active #searchContainer {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .18), 0 8px 16px 0 rgba(0, 0, 0, .36);
    transition: .2s cubic-bezier(.4, 0, .2, 1) .2s
}

.menu-category {
    display: flex;
    flex-direction: row;
    width: 515px;
    flex-wrap: nowrap;
    transition: .2s cubic-bezier(.4, 0, .2, 1) .2s
}

.input-active .menu-category {
    opacity: 0;
    transition: .2s cubic-bezier(.4, 0, .2, 1)
}

#notesContainer {
    background: #1f2326
}

.center-flex {
    display: inline-flex;
    width: 100%;
    justify-content: center
}

.center-flex.offset-25 {
    top: 12%;
    position: fixed
}

.container-search input {
    background: 0 0;
    font-size: 1.76em;
    text-align: center;
    color: #7291a1;
    padding: 6px 0;
    display: block;
    width: 100%;
    border: 0;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
    font-family: product sans, Arial, sans-serif
}

.container-search input::-moz-placeholder {
    font-family: product sans, Arial, sans-serif
}

.container-search input:focus {
    border-color: transparent;
    padding: 8px 0;
    font-size: 2em;
    transition: .2s cubic-bezier(.4, 0, .2, 1) .2s
}

.container-menu {
    margin-top: 1px
}

.button-container {
    flex-grow: 1
}

.button-container.expanding-down .button {
    position: absolute
}

.menu-link {
    width: 120px
}

.menu-link-item {
    padding: 1px
}

.menu-link-item:first-child {
    padding-top: 1px
}

.menu-link-item:last-child {
    padding-bottom: 1px
}

.menu-link-item a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 10pt
}

.menu-link-item a label {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    display: block;
    cursor: pointer;
    text-overflow: ellipsis
}

.menu-link-item:hover a label {
    color: #fff;
    border-color: #fff
}

.widget {
    top: 5px;
    left: 15px;
    position: fixed;
    font-family: roboto;
    font-weight: 300;
    text-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
    opacity: 0;
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1) .05s
}

.widget.align-right {
    left: initial;
    right: 10px;
    text-align: right
}

.container-notes {
    top: 50px;
    background: #0d1011;
    border-radius: 2px 50px 50px 2px;
    position: relative;
    max-height: 48px;
    transition: max-height .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s ease, border-radius .2s ease .1s, left .2s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    left: -300px
}

.container-notes:hover {
    left: -290px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.container-notes.active {
    max-height: 532px;
    left: 0;
    border-radius: 2px;
    transition: max-height .2s cubic-bezier(.4, 0, .2, 1) .1s, box-shadow .2s ease .1s, border-radius .2s ease, left .2s cubic-bezier(.4, 0, .2, 1) .1s;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .18), 0 8px 16px 0 rgba(0, 0, 0, .36)
}

.container-notes textarea {
    min-height: 0;
    min-width: 300px;
    width: 92%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: 0 0;
    color: #7291a1;
    resize: none;
    transition: min-height .2s cubic-bezier(.4, 0, .2, 1), opacity .2s ease;
    opacity: 0
}

.container-notes.active textarea {
    font-size: 14pt;
    min-height: 500px;
    opacity: 1;
    transition: min-height .2s cubic-bezier(.4, 0, .2, 1) .1s, opacity .2s ease .1s
}

@media(max-height:540px) {
    .container-notes.active {
        max-height: calc(100vh - 40px)
    }
    .container-notes.active textarea {
        min-height: calc(100vh - 40px)
    }
}

.notes-icon {
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease
}

.container-notes.active .notes-icon {
    opacity: 0
}

.notes-icon svg {
    fill: #ffd200
}

.font-3em {
    font-size: 3em
}

#searchHelp {
    max-height: 0;
    margin-top: 8px;
    overflow: hidden;
    transition: .2s cubic-bezier(.4, 0, .2, 1) .2s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.input-active #searchHelp {
    max-height: 999px;
    transition: .2s cubic-bezier(.4, 0, .2, 1) .2s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.help-list {
    font-size: 1.4em
}

.help-list li {
    background-color: #1f2326;
    padding: 4px 0;
    margin-bottom: 8px;
    color: #a7b3b9;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
    height: auto;
    opacity: 0;
    margin-left: 100px;
    transition: .2s cubic-bezier(.4, 0, .2, 1) .2s;
    transition-delay: 0s
}

.input-active li {
    transition: .2s cubic-bezier(.4, 0, .2, 1) .2s;
    opacity: 1;
    margin-left: 0
}

.help-list span {
    margin-right: 10px;
    padding: 10px;
    width: 90px;
    background-color: #1a1d1f
}

.help-list li:nth-child(1) {
    transition-delay: .2s
}

.help-list li:nth-child(2) {
    transition-delay: .3s
}

.help-list li:nth-child(3) {
    transition-delay: .4s
}

.help-list li:nth-child(4) {
    transition-delay: .5s
}

.help-list li:nth-child(5) {
    transition-delay: .6s
}

.help-list li:nth-child(6) {
    transition-delay: .7s
}

.help-list li:nth-child(7) {
    transition-delay: .8s
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/roboto-v16-latin-300.eot);
    src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto-v16-latin-300d41d.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v16-latin-300.woff2) format('woff2'), url(../fonts/roboto-v16-latin-300.woff) format('woff'), url(../fonts/roboto-v16-latin-300.ttf) format('truetype'), url(../fonts/roboto-v16-latin-300.svg#Roboto) format('svg')
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-v16-latin-regular.eot);
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-v16-latin-regulard41d.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v16-latin-regular.woff2) format('woff2'), url(../fonts/roboto-v16-latin-regular.woff) format('woff'), url(../fonts/roboto-v16-latin-regular.ttf) format('truetype'), url(../fonts/roboto-v16-latin-regular.svg#Roboto) format('svg')
}

@font-face {
    font-family: product sans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/noto-sans-v6-latin-regular.html);
    src: local('Product Sans'), local('ProductSans'), url(../fonts/product-sansd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/product-sans.woff2) format('woff2'), url(../fonts/product-sans.woff) format('woff'), url(../fonts/product-sans.ttf) format('truetype'), url(../fonts/product-sans.svg#NotoSans) format('svg')
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 0;
    top: 0;
    left: 0;
    background-color: #1f2326;
    overflow-x: hidden;
    transition: .6s
}

.sidenav menu {
    padding: 0;
    padding-top: 20px
}

.sidenav menu a {
    font-family: roboto;
    font-weight: 300;
    text-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
    padding: 4px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #7291a1;
    display: block;
    transition: .3s
}

.sidenav menu a:hover,
.offcanvas a:focus {
    color: #f1f1f1
}

.sidenav .closebtn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    opacity: .4
}

.sidenav .closebtn:hover {
    opacity: 1
}

.sidenavhome {
    z-index: 1;
    position: fixed;
    font-size: 30px;
    padding-left: 10px;
    font-family: roboto;
    font-weight: 300;
    text-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36)
}

.ZeroAlpha {
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    visibility: visible
}

@media only screen and (min-width:700px) {
    img {
        max-height: 70px
    }
}

#customcontainer {
    width: 100%;
    position: relative;
    background: #1f2326
}

#linkheader {
    background: #0280cf;
    padding: 2px
}

#customlinks {
    padding: 10px;
    width: 180px
}

h2 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    color: #fff;
    text-align: center
}

.removebtn {
    border: 0;
    background: 0 0;
    color: #fff;
    font-size: 12px;
    float: right
}

.removebtn:hover {
    opacity: .5
}

#favorite-links li {
    border-bottom: 2px solid #1f2326;
    background: #0280cf;
    height: 18px
}

#favorite-links li:last-child {
    border: 0
}

#favorite-links a {
    color: #fff;
    padding: 0 0 2px 5px;
    display: inline;
    font-size: 14px
}

#favorite-links li:hover {
    background: #014775
}

#add-link-form {
    display: none;
    background: #1f2326;
    padding: 10px;
    color: #fff
}

#add-link-form input {
    margin-top: 2px;
    width: 170px;
    color: #333;
    padding: 5px;
    outline: 0;
    border: 0
}

#new-link-button button,
#add-link-form button {
    cursor: pointer;
    margin-top: 2px;
    border-radius: 3px;
    background: #0280cf;
    border: 0;
    color: #fff;
    width: 100%;
    height: 18px;
    font-size: 14px
}

.btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-color: #000
}

.btn.hollow {
    box-shadow: 0 0 0 2px #000;
    background-color: transparent
}

.btn.small {
    padding: 7px;
    font-size: 12px
}

#customBackgrounds {
    position: relative;
    text-align: center;
    min-width: 100%
}

#customBackgrounds * {
    transition: all .5s ease
}

#customBackgrounds .list {
    position: relative
}

#customBackgrounds .btn {
    position: relative;
    z-index: 2
}

#customBackgrounds.active .btn,
#customBackgrounds .btn.reset:hover {
    background-color: rgba(0, 0, 0, .4)
}

#customBackgrounds .thumb.template {
    display: none
}

#customBackgrounds .thumb {
    cursor: pointer;
    transition: all .5s ease;
    display: inline-block;
    margin: 3px 5px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-size: cover;
    background-color: #000
}

#customBackgrounds .thumb:hover {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .5)
}

#customBackgrounds.active .thumb {
    width: 50px;
    height: 50px
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
